---
import { Image } from 'astro:assets';

const proyectosImages = await Astro.glob('/public/img/gallery/proyectos/*');
const promocionesImages = await Astro.glob('/public/img/gallery/promociones/*');
const infografiasImages = await Astro.glob('/public/img/gallery/infografias/*');
const rehabilitacionesImages = await Astro.glob('/public/img/gallery/rehabilitaciones/*');
const ascensoresImages = await Astro.glob('/public/img/gallery/ascensores/*');
const localesImages = await Astro.glob('/public/img/gallery/locales/*');
const navesImages = await Astro.glob('/public/img/gallery/naves/*');
const eficienciaImages = await Astro.glob('/public/img/gallery/eficiencia/*');
---

<section id="proyectos">
    <h2>Proyectos</h2>
    <div class="gallery">
        {
          proyectosImages.map((img) => (
            <Image
              src={img.default}
              alt="Foto de proyectos arquitectónicos"
            />
          ))
        }
    </div>
</section>

<section id="promociones">
    <h2>Promociones</h2>
    <div class="gallery">
        {
          promocionesImages.map((img) => (
            <Image
              src={img.default}
              alt="Foto de promociones"
            />
          ))
        }
    </div>
</section>

<section id="infografias">
    <h2>Infografías</h2>
    <div class="gallery">
        {
          infografiasImages.map((img) => (
            <Image
              src={img.default}
              alt="Infografía"
            />
          ))
        }
    </div>
</section>

<section id="rehabilitaciones">
    <h2>Rehabilitaciones</h2>
    <div class="gallery">
        {
          rehabilitacionesImages.map((img) => (
            <Image
              src={img.default}
              alt="Rehabilitación"
            />
          ))
        }
    </div>
</section>

<section id="ascensores">
    <h2>Ascensores</h2>
    <div class="gallery">
        {
          ascensoresImages.map((img) => (
            <Image
              src={img.default}
              alt="Ascensor"
            />
          ))
        }
    </div>
</section>

<section id="locales">
    <h2>Locales</h2>
    <div class="gallery">
        {
          localesImages.map((img) => (
            <Image
              src={img.default}
              alt="Local"
            />
          ))
        }
    </div>
</section>

<section id="naves">
    <h2>Naves</h2>
    <div class="gallery">
        {
          navesImages.map((img) => (
            <Image
              src={img.default}
              alt="Nave"
            />
          ))
        }
    </div>
</section>

<section id="eficiencia">
    <h2>Eficiencia</h2>
    <div class="gallery">
        {
          eficienciaImages.map((img) => (
            <Image
              src={img.default}
              alt="Eficiencia"
            />
          ))
        }
    </div>
</section>


<style>

    section {
        margin-top: 0;
        margin-bottom: 0;
    }

    .gallery {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ajusta el tamaño mínimo según necesites */
    }

    img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        
        transition: transform 0.3s ease;

        animation: reveal ease-in-out both;
        animation-timeline: view();
        animation-range: entry 5% cover 15%;
    }

    img:hover {
        transform: scale(1.01);
        filter: brightness(1.05);
    }

    @keyframes reveal {
        from {
            opacity: 0;
            translate: 0 100px;
        }
        to {
            opacity: 1;
            translate: 0 0;
        }
    }


</style>